@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Yatra+One&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	letter-spacing: 1.7px;
	overflow-x: hidden;
}

@font-face {
	font-family: "shamery";
	src: url("./assets/fonts/shamery.ttf") format("truetype");
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}

@media screen and (min-width: 1024px) {
	.container {
		padding: 2rem;
	}
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	object-fit: cover;
}

.bg-one {
	background-image: url("./assets/img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
.bg-two {
	background-image: url("./assets/mountain.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
.bg-three {
	background-image: url("./assets/girl.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
.bg-four {
	background-image: url("./assets/forest.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
